* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: "Roboto", sans-serif;
}

.wrapper {
	width: calc(100vw - 240px);
	margin: 0 auto;
}

.header-container {
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	height: calc(100vh - 72px);
	display: flex;
	align-items: center;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	font-weight: 900;
	font-size: 64px;
	line-height: 75px;
	color: #021718;
	margin-bottom: 24px;
}

header p {
	font-size: 24px;
	line-height: 42px;
	color: #021718;
	margin-bottom: 48px;
}
